            <!-- START FOOTER -->
            <div class="footer">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link">ScoutOps ©</span>
                    <br> Visit <a href="https://www.scouts.org.za/">Scouts SA</a>.
                  </td>
                </tr>
                <tr>
                  <td class="content-block powered-by">
                    Need Help? <a href="https://wcscoutshelp.freshdesk.com/support/home">WC Helpdesk</a>.
                  </td>
                </tr>
              </table>
            </div>
            <!-- END FOOTER -->

          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>